<script>
  import { createEventDispatcher, onMount } from "svelte";
  const dispatch = createEventDispatcher();

  let modes = ["Modern", "Classic"];
  let mode = "Modern";

  let possiblePlayerCounts = {
    Modern: [2, 3, 4, 5, 6],
    Classic: [2, 3, 4]
  };

  let playerCounts = possiblePlayerCounts[mode];
  $: playerCounts = possiblePlayerCounts[mode];

  let settings = {
    mode,
    selectedPlayerCounts: playerCounts
  };
  $: settings = {
    mode,
    selectedPlayerCounts: playerCounts
  };

  onMount(() => {
    dispatch("change", settings);
  });
  $: dispatch("change", settings);
</script>

<section>
  <div>
    Game mode
    {#each modes as modeOption}
      <label>
        <input type="radio" bind:group={mode} value={modeOption} />
        {modeOption}
      </label>
    {/each}
  </div>
  <div>
    Player counts
    {#each possiblePlayerCounts[mode] as playersOption}
      <label>
        <input
          type="checkbox"
          bind:group={playerCounts}
          value={playersOption} />
        {playersOption}
      </label>
    {/each}
  </div>
</section>
