<script>
  import { goto } from "@sapper/app";
  import { createGame } from "../../../stores";
  import { GameType } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.Tichu, {});
    waiting = false;

    if (game) {
      goto(`/games/tichu/?id=${game.id}`);
    }
  }
</script>

<svelte:head>
  <title>Create game - Tichu - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <button class="primary" disabled={waiting}>Create game</button>
</form>
