<script lang="ts">
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";
  import { GameType, gameTypeName } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.Yinsh, {
      firstToNRings,
    });
    waiting = false;

    if (game) {
      goto(`/games/yinsh/?id=${game.id}`);
    }
  }

  let possibleN = [1, 3];
  let firstToNRings = 3;
</script>

<svelte:head>
  <title>
    Create game - {gameTypeName(GameType.Yinsh)} - Gamesite 6
  </title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <fieldset>
    <legend>Rings required to win</legend>
    {#each possibleN as n}
      <label>
        <input type="radio" bind:group={firstToNRings} value={n} />
        {n}
      </label>
    {/each}
  </fieldset>

  <button class="primary" disabled={waiting}>Create game</button>
</form>
