<script>
  import stylesheetUrl from "../../../../node_modules/@gamesite6/yinsh/dist/style.css";
  import StartedGame from "../_game_layout.svelte";
  import { stores } from "@sapper/app";
  import { getGameStore, getUserStore, performAction } from "../../../stores";
  import { writable } from "svelte/store";

  import { Game, Reference } from "@gamesite6/yinsh";
  import { GameType, getPlayerIdFromUserId } from "../../../util/game-utils";

  if (process.browser) {
    try {
      window.customElements.define("gs6-games-yinsh", Game);
      window.customElements.define("gs6-games-yinsh-reference", Reference);
    } catch (err) {
      // already defined
    }
  }
  const gameType = GameType.Yinsh;

  let { page } = stores();
  $: gameId = parseInt($page.query.id);

  let user = getUserStore();

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);

  $: game = $gameStore && $gameStore.data;
  $: settings = $gameStore && $gameStore.settings;
  $: state = $gameStore && $gameStore.state;
</script>

<svelte:head>
  <link rel="stylesheet" href={stylesheetUrl} />
</svelte:head>

{#if game && settings && state}
  <StartedGame {gameType} {gameId}>
    <gs6-games-yinsh
      slot="game"
      user-id={$user && getPlayerIdFromUserId(game.players, $user.id)}
      {settings}
      {state}
      on:action={(event) => {
        let action = event.detail;
        performAction(gameId, gameType, action);
      }}
    />

    <gs6-games-yinsh-reference slot="reference" {settings} {state} />
  </StartedGame>
{/if}
