<script lang="ts">
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";
  import { GameType, gameTypeName } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.LostCities, {
      sixColors,
    });
    waiting = false;

    if (game) {
      goto(`/games/lost-cities/?id=${game.id}`);
    }
  }

  let sixColors = false;
</script>

<svelte:head>
  <title>
    Create game - {gameTypeName(GameType.LostCities)} - Gamesite 6
  </title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <button class="primary" disabled={waiting}>Create game</button>
</form>
