<script>
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";
  import { GameType } from "../../../util/game-utils";

  let settings = { goal: 21 }; // TODO option to change goal
  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.FoxInTheForest, settings);
    waiting = false;

    if (game) {
      goto(`/games/fox-in-the-forest/?id=${game.id}`);
    }
  }
</script>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <button class="primary" disabled={waiting}>Create game</button>
</form>
