<script lang="ts">
  import ForgotPasswordForm from "./_components/ForgotPasswordForm.svelte";

  import { onMount, onDestroy } from "svelte";
  import {
    getRecaptchaToken,
    loadRecaptcha,
    removeRecaptcha,
  } from "../../util/recaptcha";
  onMount(loadRecaptcha);
  onDestroy(removeRecaptcha);

  let pending = false;
  let complete = false;
  let error = false;

  let submittedEmail;

  async function handleSignIn(event) {
    const { email } = event.detail;

    pending = true;
    const recaptchaToken: string = await getRecaptchaToken("password-reset");
    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/begin_password_reset`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email,
          recaptcha: recaptchaToken,
        }),
        credentials: "include",
      }
    );

    pending = false;
    if (response.ok) {
      complete = true;
      submittedEmail = email;
    } else {
      error = true;
    }
  }
</script>

<svelte:head>
  <title>Forgot password? - Gamesite 6</title>
</svelte:head>

<div class="form panel shadow">
  <h1>Forgot password?</h1>
  {#if complete}
    <p>
      Password reset instructions will be sent to <em>{submittedEmail}</em> .
    </p>
  {:else}
    <ForgotPasswordForm on:completion={handleSignIn} disabled={pending} />
  {/if}
</div>

<style>
  .form {
    max-width: 20em;
    margin: auto;
  }
</style>
