<script lang="ts">
  let currentPassword = "";
  let newPassword = "";
  let repeatPassword = "";

  $: passwordsMatch = newPassword === repeatPassword;
  $: longEnough = newPassword.length >= 8;

  $: valid = passwordsMatch && longEnough;

  let status:
    | "initial"
    | "pending"
    | "success"
    | "technical-error"
    | "auth-error" = "initial";

  async function handleSubmit() {
    status = "pending";

    let abortController = new AbortController();
    const timeoutId = setTimeout(() => abortController.abort(), 8000);

    try {
      let response = await fetch(
        `${API_TLS ? "https" : "http"}://${API_HOST}/api/change_password`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            currentPassword,
            newPassword,
          }),
          credentials: "include",
          signal: abortController.signal,
        }
      );

      if (response.ok) {
        status = "success";

        currentPassword = "";
        newPassword = "";
        repeatPassword = "";
      } else if (response.status === 401 || response.status === 403) {
        status = "auth-error";
      } else {
        status = "technical-error";
      }
    } catch (e) {
      status = "technical-error";
    } finally {
      clearTimeout(timeoutId);
    }
  }
</script>

<svelte:head>
  <title>Settings - Gamesite 6</title>
</svelte:head>

<section class="panel">
  <h2>Change password</h2>
  <form on:submit|preventDefault={handleSubmit}>
    <label for="current-password">
      Current password
      <input
        required
        type="password"
        id="current-password"
        bind:value={currentPassword}
        readonly={status === "pending"}
      />
    </label>

    <label for="new-password">
      New password
      <input
        required
        type="password"
        id="new-password"
        bind:value={newPassword}
        readonly={status === "pending"}
      />
    </label>

    <label for="repeat-password">
      Repeat new password
      <input
        required
        type="password"
        id="repeat-password"
        bind:value={repeatPassword}
        readonly={status === "pending"}
      />
    </label>

    <ul class="errors">
      {#if newPassword.length && !longEnough}
        <li class="error-msg">Password must be at least 8 characters!</li>
      {/if}
      {#if repeatPassword.length && !passwordsMatch}
        <li class="error-msg">Passwords do not match!</li>
      {/if}
    </ul>
    <button class="primary" disabled={!valid || status === "pending"}>
      Change password
    </button>
    {#if status === "success"}
      <div class="success-msg">
        <span class="emoji">✅</span>
        Password changed!
      </div>
    {:else if status === "technical-error"}
      <div class="error-msg">Technical error! Please try again later.</div>
    {:else if status === "auth-error"}
      <div class="error-msg">
        Password change failed! Did you type your current password correctly?
      </div>
    {/if}
  </form>
</section>

<style>
  section.panel {
    padding: 2rem;
    max-width: 20rem;
    margin: auto;
  }
  h2 {
    margin-bottom: 2rem;
  }
  label {
    display: block;
    position: relative;
  }

  .errors {
    margin-bottom: 0.5rem;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }
  button {
    width: 100%;
  }

  .error-msg {
    font-size: 90%;
    color: #da3535;
    font-weight: 500;
    margin-top: 0.25rem;
  }

  .success-msg {
    font-size: 90%;
    color: rgb(32, 161, 0);
    font-weight: 500;
    margin-top: 0.25rem;
  }

  label[for="current-password"] {
    margin-bottom: 2rem;
  }
</style>
