<script lang="ts">
  import SignInForm from "./_components/SignInForm.svelte";

  let pending = false;
  let error: "auth" | "technical" | null;

  let token: string | undefined;
  if (process.browser) {
    token = /token=([^&]+)/.exec(location.search)?.[1];
    if (token) {
      signInWithToken(token);
    }
  }

  async function signInWithToken(token: string) {
    pending = true;

    let abortController = new AbortController();
    const timeoutId = setTimeout(() => abortController.abort(), 8000);

    try {
      let response = await fetch(
        `${API_TLS ? "https" : "http"}://${API_HOST}/api/sign_in_with_token`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            token,
          }),
          credentials: "include",
          signal: abortController.signal,
        }
      );

      if (response.ok) {
        error = null;
        window.location.href = "/";
      } else {
        error = "auth";
      }
    } catch (e) {
      error = "technical";
    } finally {
      pending = false;
      clearTimeout(timeoutId);
    }
  }

  async function handleSignIn(
    event: CustomEvent<{ email: String; password: String }>
  ) {
    const { email, password } = event.detail;

    pending = true;

    let abortController = new AbortController();
    const timeoutId = setTimeout(() => abortController.abort(), 8000);
    try {
      let response = await fetch(
        `${API_TLS ? "https" : "http"}://${API_HOST}/api/sign_in`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email,
            password,
          }),
          credentials: "include",
          signal: abortController.signal,
        }
      );

      if (response.ok) {
        error = undefined;
        window.location.href = "/";
      } else {
        error = "auth";
      }
    } catch (e) {
      error = "technical";
    } finally {
      pending = false;
      clearTimeout(timeoutId);
    }
  }
</script>

<svelte:head>
  <title>Sign in - Gamesite 6</title>
</svelte:head>

{#if token}
  <div class="form panel shadow">
    <h1>Signing in</h1>
    {#if !pending && error !== null}
      <p class="error">
        {#if error === "auth"}
          Sign in failed!
        {:else if error === "technical"}
          Technical error! Please try again later.
        {/if}
      </p>
    {/if}
  </div>
{:else}
  <div class="form panel shadow">
    <h1>Sign in</h1>
    <SignInForm on:completion={handleSignIn} disabled={pending} />
    {#if !pending && error !== null}
      <p class="error">
        {#if error === "auth"}
          Sign in failed!
        {:else if error === "technical"}
          Technical error! Please try again later.
        {/if}
      </p>
    {/if}
    <p><a href="/forgot-password/">Forgot password?</a></p>
  </div>
{/if}

<style>
  .form {
    max-width: 22em;
    margin: auto;
    padding: 2rem;
  }
  .error {
    font-weight: 500;
    color: #da3535;
  }
</style>
