<script>
  import { formatRelative } from "date-fns";

  export let userId;
  export let text;
  export let time;
</script>

<div class="container">
  <div class="avatar-img">
    <gs6-avatar userid={userId} />
  </div>

  <div class="heading">
    <span class="name"><gs6-username userid={userId} /></span>
    <span class="time">{formatRelative(time, new Date())}</span>
  </div>

  {#if Array.isArray(text)}
    <div class="text">
      {#each text as line}
        <div>{line}</div>
      {/each}
    </div>
  {:else}
    <div class="text">{text}</div>
  {/if}
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 1.5rem 1fr;
    column-gap: 0.5rem;
  }
  .avatar-img {
    font-size: 48px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    font-weight: bold;
  }
  .time {
    margin-left: 0.5rem;
    color: grey;
  }
  .text {
    grid-column-start: 2;
    display: grid;
    row-gap: 0.1rem;
  }
</style>
