<script lang="ts">
  import ChatMessage from "./ChatMessage.svelte";
  import {
    createEventDispatcher,
    onMount,
    beforeUpdate,
    afterUpdate,
  } from "svelte";
  import groupByAdjacent from "../util/group-adjacent";

  const dispatch = createEventDispatcher();

  export let disabled: boolean = false;
  export let id: string;
  export let messages: any[] = [];

  let value = "";

  function handleSubmit() {
    if (value !== "") {
      dispatch("send", value);
      value = "";
    }
  }

  function getEpochMinutes(date) {
    let epochMillis = date.valueOf();
    let epochSeconds = (epochMillis / 1000) | 0;
    let epochMinutes = (epochSeconds / 60) | 0;
    return epochMinutes;
  }

  $: groupedMessages = groupByAdjacent({
    predicate(acc, prev, a) {
      return (
        prev.userId === a.userId &&
        getEpochMinutes(prev.time) === getEpochMinutes(a.time)
      );
    },
    initGroup(msg) {
      return {
        ...msg,
        text: [msg.text],
      };
    },
    combine(acc, msg) {
      acc.text.push(msg.text);
      return acc;
    },
  })(messages);

  let div;
  let autoscroll;

  onMount(() => {
    div && div.scrollTo(0, div.scrollHeight);
  });

  beforeUpdate(() => {
    autoscroll =
      div && div.offsetHeight + div.scrollTop > div.scrollHeight - 20;
  });

  afterUpdate(() => {
    if (autoscroll) div.scrollTo(0, div.scrollHeight);
  });
</script>

<div class="outer">
  <div class="inner">
    <div class="messages border" bind:this={div}>
      {#each groupedMessages as msg}
        <div>
          <ChatMessage userId={msg.userId} text={msg.text} time={msg.time} />
        </div>
      {/each}
    </div>

    <form on:submit|preventDefault={handleSubmit}>
      <input
        type="text"
        autocomplete="off"
        id={`${id}-input`}
        placeholder="Say something"
        bind:value
        {disabled}
      />

      <button {disabled} class="primary">Send</button>
    </form>
  </div>
</div>

<style>
  .outer {
    position: relative;
    height: 100%;
  }
  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .messages {
    padding: 0.25em 0.5em;
    background-color: white;
    height: 100%;
    overflow-y: auto;
  }
  .messages > :not(:last-child) {
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
  form {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    margin-top: 0.25em;
    grid-template-columns: 1fr 5em;
    grid-column-gap: 0.25em;
  }
  button {
    padding: 0;
  }
</style>
