<script>
  export let inline = false;
</script>

<style>
  div {
    display: block;
    height: 1em;
    width: 1em;
    box-sizing: border-box;
    border-radius: 0.125em;
    border-style: dashed;
    border-color: gray;
    border-width: 0.1em;
  }
  .inline {
    display: inline-block;
    transform: scale(1.3) translateY(0.15em);
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
</style>

<div class:inline />
