<script lang="ts">
  import { gameTypeName, gameTypeNumberToString } from "../util/game-utils";
  import EmptyAvatar from "./EmptyAvatar.svelte";
  export let game: GameWithSettingsDto;
</script>

<a
  href="/games/{gameTypeNumberToString(game.data.game_type)}/?id={game.data.id}"
  class="game-table-row"
>
  <span class="game-name">
    {gameTypeName(game.data.game_type)} #{game.data.id}
  </span>
  <span class="players">
    {#each Object.entries(game.data.players) as [playerId, userId]}
      {#if userId !== null}
        <gs6-avatar inline={true} userid={userId} />
      {:else}
        <EmptyAvatar inline />
      {/if}
    {/each}
  </span>
</a>

<style>
  .game-table-row {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-decoration-line: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
  }

  .game-name {
    text-transform: uppercase;
    font-size: 85%;
    color: gray;
  }

  .players {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
</style>
