<script lang="ts">
  import GameTableRow from "./GameTableRow.svelte";

  export let games: GameWithSettingsDto[] = [];
</script>

<div class="game-table">
  {#if games.length === 0}
    <div class="empty">(No games available)</div>
  {:else}
    <div class="game-table-body">
      {#each games as game (game.data.id)}
        <div class="row">
          <GameTableRow {game} />
        </div>
      {/each}
    </div>
  {/if}
</div>

<style>
  .empty {
    color: gray;
    font-size: 90%;
  }
  .game-table {
    width: 100%;
  }

  .row {
    border-top: 1px solid lightgray;
  }
  .row:last-child {
    border-bottom: 1px solid lightgray;
  }
</style>
