<script lang="ts">
  import { getUserStore } from "../stores";

  let user = getUserStore();

  export let segment;

  async function handleSignOutClick() {
    await fetch(`${API_TLS ? "https" : "http"}://${API_HOST}/api/sign_out`, {
      credentials: "include",
    });
    window.location.href = "/";
  }

  let userMenuVisible: boolean = false;

  function clickOutside(element, callbackFunction) {
    function onClick(event) {
      if (!element.contains(event.target)) {
        callbackFunction();
      }
    }
    function onKeyDown(event: KeyboardEvent) {
      if (event.code === "Escape") {
        callbackFunction();
      }
    }

    document.body.addEventListener("click", onClick);
    document.body.addEventListener("keydown", onKeyDown);

    return {
      update(newCallbackFunction) {
        callbackFunction = newCallbackFunction;
      },
      destroy() {
        document.body.removeEventListener("click", onClick);
        document.body.removeEventListener("keydown", onKeyDown);
      },
    };
  }
</script>

<nav>
  <div>
    <a href="/" class="logo">
      <span>Gamesite</span>
      <img src="gs6-logo.svg" alt="6" />
    </a>
    <ul class="top-bar-items">
      <li class:selected={segment === undefined}><a href="/">play</a></li>

      <li class:selected={segment === "about"}><a href="/about/">about</a></li>

      <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
      <li class:selected={segment === "blog"}>
        <a sapper:prefetch href="/blog/">blog</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="top-bar-items">
      {#if $user}
        <li class="user-menu-button-wrapper">
          <button
            class="user-menu-button invisibutton"
            aria-haspopup="true"
            aria-controls="user-menu"
            aria-expanded={userMenuVisible}
            on:click|stopPropagation={() => {
              userMenuVisible = !userMenuVisible;
            }}
          >
            <gs6-user userid={$user.id} />
          </button>

          {#if userMenuVisible}
            <div
              id="user-menu"
              class="user-menu panel"
              use:clickOutside={() => {
                userMenuVisible = false;
              }}
            >
              <ul class="user-menu-items">
                <li>
                  <a
                    href="/account/"
                    on:click={() => {
                      userMenuVisible = false;
                    }}
                  >
                    Manage account
                  </a>
                </li>
              </ul>

              <button
                class="secondary sign-out-button"
                on:click={handleSignOutClick}
              >
                Sign out
              </button>
            </div>
          {/if}
        </li>
      {:else}
        <li class:selected={segment === "register"}>
          <a href="/register/">register</a>
        </li>
        <li class:selected={segment === "sign-in"}>
          <a href="/sign-in/">sign in</a>
        </li>
      {/if}
    </ul>
  </div>
</nav>

<style>
  nav {
    border-bottom: 1px solid rgba(255, 62, 0, 0.1);
    font-weight: 300;
    padding: 0 0.5em;

    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: inline-block;
    font-weight: 500;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .logo > span {
    vertical-align: middle;
  }
  .logo > img {
    height: 2em;
    vertical-align: middle;
  }

  ul.top-bar-items {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul.top-bar-items > li {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0.5em;
  }

  .selected {
    position: relative;
    display: inline-block;
  }

  .selected::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 2px;
    background-color: #e62c00;
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
  }

  .user-menu-button-wrapper {
    position: relative;
  }
  .user-menu-button {
    cursor: pointer;
  }
  .user-menu {
    position: absolute;
    bottom: 0.75rem;
    right: 0.25rem;
    transform: translateY(100%);

    padding-left: 0;
    padding-right: 0;
  }
  ul.user-menu-items {
    margin-bottom: 1rem;
  }

  ul.user-menu-items > li {
    border-top: 1px solid lightgrey;
  }
  ul.user-menu-items > li:last-child {
    border-bottom: 1px solid lightgrey;
  }
  ul.user-menu-items > li > a {
    display: block;
    padding: 0.5rem 1rem;
  }
  ul.user-menu-items > li > a:hover {
    background: rgb(250, 250, 250);
  }

  .sign-out-button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>
