<script>
  import { goto } from "@sapper/app";
  import { createGame } from "../../../stores";
  import { GameType } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.TheResistance, {
      gameMode: {
        Avalon: {},
      },
      selectedPlayerCounts,
    });
    waiting = false;

    if (game) {
      goto(`/games/the-resistance/?id=${game.id}`);
    }
  }

  let possiblePlayerCounts = [5, 6, 7, 8, 9, 10];
  let selectedPlayerCounts = [5, 6, 7, 8, 9, 10];
</script>

<svelte:head>
  <title>Create game - The Resistance - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <fieldset>
    <legend>Player counts</legend>
    {#each possiblePlayerCounts as playersOption}
      <label>
        <input
          type="checkbox"
          bind:group={selectedPlayerCounts}
          value={playersOption} />
        {playersOption}
      </label>
    {/each}
  </fieldset>

  <button class="primary" disabled={waiting}>Create game</button>
</form>
