<script lang="ts">
  import RegisterInitForm from "./_components/RegisterInitForm.svelte";
  import copyImgSrc from "../../../static/copy.svg";
  import { onMount, onDestroy } from "svelte";
  import {
    getRecaptchaToken,
    loadRecaptcha,
    removeRecaptcha,
  } from "../../util/recaptcha";
  onMount(loadRecaptcha);
  onDestroy(removeRecaptcha);

  let pending = false;
  let error: "technical" | null = null;
  let completed = undefined;

  async function handleRegister(event) {
    pending = true;

    const recaptchaToken: String = await getRecaptchaToken("register");

    const { email } = event.detail;

    let abortController = new AbortController();
    const timeoutId = setTimeout(() => abortController.abort(), 8000);

    try {
      let response = await fetch(
        `${API_TLS ? "https" : "http"}://${API_HOST}/api/register`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email,
            recaptcha: recaptchaToken,
          }),
          credentials: "include",
          signal: abortController.signal,
        }
      );

      if (response.ok) {
        error = null;
        completed = { email };
      }
    } catch (e) {
      error = "technical";
    } finally {
      pending = false;
      clearTimeout(timeoutId);
    }
  }

  let guestLoginToken;
  $: guestLoginUrl =
    guestLoginToken && `${location.origin}/sign-in/?token=${guestLoginToken}`;

  async function handleRegisterGuest(_event) {
    pending = true;
    const recaptchaToken: String = await getRecaptchaToken("register-guest");
    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/register_guest`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          recaptcha: recaptchaToken,
        }),
        credentials: "include",
      }
    );
    let json = await response.json();
    guestLoginToken = json.loginToken;

    pending = false;
  }

  function copyToClipboard(text: string) {
    navigator.clipboard.writeText(text);
  }
</script>

<svelte:head>
  <title>Register - Gamesite 6</title>
</svelte:head>

{#if completed}
  <div class="form panel shadow">
    <p>
      An email has been sent to <strong>{completed.email}</strong> with instructions
      on how to complete the registration.
    </p>
  </div>
{:else if guestLoginToken}
  <div class="panel shadow guest-complete">
    <p>You can use the following link to sign in to your guest account:</p>

    <div class="guest-login-link border">
      <code>{guestLoginUrl}</code>

      <button class="secondary" on:click={() => copyToClipboard(guestLoginUrl)}>
        <img
          src={copyImgSrc}
          alt="Copy to clipboard"
          title="Copy to clipboard"
        />
      </button>
    </div>

    <p>
      Keep it somewhere safe. Anyone with the link will gain access to your
      account. If you lose it, we will not be able to restore your access.
    </p>
  </div>
{:else}
  <div class="form panel shadow">
    <h1>Register</h1>
    <RegisterInitForm on:completion={handleRegister} disabled={pending} />
    {#if !pending && error === "technical"}
      <p class="error">Technical error! Please try again later.</p>
    {/if}
    <small>
      A verification email will be sent to your email address with instructions
      on how to complete the registration.
    </small>
    <small>
      After registration your email will only be used for password resets.
    </small>
    <p class="center-text">~ or ~</p>
    <button on:click={handleRegisterGuest} class="secondary">
      Play as a guest!
    </button>
    <small>
      Guest accounts are completely anonymous, and cannot have a name.
    </small>
  </div>
{/if}

<style>
  .form {
    max-width: 22em;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
  }

  .guest-complete {
    max-width: 30em;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
  }
  .center-text {
    text-align: center;
  }

  small {
    margin-top: 1em;
  }

  .guest-login-link {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
  }
  .guest-login-link > code {
    padding: 0;
    background-color: inherit;
  }
  .guest-login-link > button {
    height: 2em;
    padding: 0 0.5rem;
    margin-top: 0;
    margin-left: 0.25rem;

    display: grid;
    place-content: center;
  }

  .error {
    font-weight: 500;
    color: #da3535;
  }
</style>
