<script>
  import ResetPasswordForm from "./_components/ResetPasswordForm";
  import { stores } from "@sapper/app";

  let { page } = stores();

  let pending;
  let complete;
  let error;

  async function handleFormComplete(event) {
    pending = true;

    const { password } = event.detail;
    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/finish_password_reset`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          password,
          token: $page.query.token,
          user_id: parseInt($page.query.user_id),
        }),
        credentials: "include",
      }
    );

    if (response.ok) {
      complete = true;
      error = null;
    } else {
      pending = false;
      complete = false;
      error = true;
    }
  }
</script>

<svelte:head>
  <title>Reset password - Gamesite 6</title>
</svelte:head>

<div class="form panel shadow border">
  <h1>Reset password</h1>
  {#if !complete}
    <ResetPasswordForm disabled={pending} on:completion={handleFormComplete} />
    {#if !pending && error}
      <p>
        Password reset failed! If problem persists, please restart password
        reset process.
      </p>
    {/if}
  {:else}
    <p>Password successfully reset.</p>
    <p><a href="/sign-in/">Sign in</a></p>
  {/if}
</div>

<style>
  .form {
    max-width: 20em;
    margin: auto;
  }
</style>
