<div class="hidden">
  <a href="/404/">.</a>
  <a href="/reset-password/">.</a>
  <a href="/verify/">.</a>

  <a href="/games/love-letter/">.</a>
  <a href="/games/fox-in-the-forest/">.</a>
  <a href="/games/no-thanks/">.</a>
  <a href="/games/shobu/">.</a>
  <a href="/games/skull/">.</a>
  <a href="/games/the-resistance">.</a>
  <a href="/games/tichu">.</a>
  <a href="/games/hanabi">.</a>
  <a href="/games/liars-dice">.</a>
  <a href="/games/cockroach-poker">.</a>
  <a href="/games/azul">.</a>
  <a href="/games/cant-stop">.</a>
  <a href="/games/for-sale">.</a>
  <a href="/games/fantasy-realms">.</a>
  <a href="/games/yinsh">.</a>
  <a href="/games/lost-cities">.</a>
  <a href="/games/6-nimmt">.</a>
  <a href="/games/sushi-go">.</a>
</div>
