<script lang="ts">
  import { createGame } from "../../../stores";
  import { goto } from "@sapper/app";
  import { GameType, gameTypeName } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.FantasyRealms, {
      playerCounts,
    });
    waiting = false;

    if (game) {
      goto(`/games/fantasy-realms/?id=${game.id}`);
    }
  }

  let possiblePlayerCounts = [2, 3, 4, 5, 6];
  let playerCounts = [2, 3, 4, 5, 6];
</script>

<svelte:head>
  <title>
    Create game - {gameTypeName(GameType.FantasyRealms)} - Gamesite 6
  </title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <fieldset>
    <legend>Player counts</legend>
    {#each possiblePlayerCounts as playersOption}
      <label>
        <input
          type="checkbox"
          bind:group={playerCounts}
          value={playersOption}
        />
        {playersOption}
      </label>
    {/each}
  </fieldset>

  <button class="primary" disabled={waiting}>Create game</button>
</form>
