<script>
  import { goto } from "@sapper/app";
  import { createGame } from "../../../stores";
  import { GameType } from "../../../util/game-utils";

  let waiting;

  async function handleSubmit() {
    waiting = true;
    let game = await createGame(GameType.NoThanks, { selectedPlayerCounts });
    waiting = false;

    if (game) {
      goto(`/games/no-thanks/?id=${game.id}`);
    }
  }

  let possiblePlayerCounts = [3, 4, 5, 6, 7];
  let selectedPlayerCounts = [3, 4, 5, 6, 7];
</script>

<svelte:head>
  <title>Create game - No Thanks! - Gamesite 6</title>
</svelte:head>

<h1>Create game</h1>

<form on:submit|preventDefault={handleSubmit}>
  <fieldset>
    <legend>Player counts</legend>
    {#each possiblePlayerCounts as playersOption}
      <label>
        <input
          type="checkbox"
          bind:group={selectedPlayerCounts}
          value={playersOption} />
        {playersOption}
      </label>
    {/each}
  </fieldset>

  <button class="primary" disabled={waiting}>Create game</button>
</form>
