<script>
  import { createEventDispatcher } from "svelte";

  export let disabled = false;

  const dispatch = createEventDispatcher();

  let password = "";

  function handleSubmit() {
    dispatch("completion", {
      password
    });
  }
</script>

<style>
  form {
    display: grid;
    grid-row-gap: 0.5em;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  button {
    margin-top: 0.5em;
  }
</style>

<form on:submit|preventDefault={handleSubmit}>

  <div>
    <label for="password">New password</label>
    <input
      id="password"
      type="password"
      minlength="8"
      placeholder="Minimum 8 characters"
      bind:value={password}
      readonly={disabled} />
  </div>

  <button class="primary" {disabled}>Change password</button>

</form>
