<script lang="ts">
  import { getRandomInt, INT32_MAX, range } from "../util";
  import { format } from "prettier";
  import parserBabel from "prettier/parser-babel";

  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let model: Model;

  function dispatchModelChangeEvent(model: Model): void {
    dispatch("change", model);
  }

  async function startNewGame(): Promise<void> {
    const response = await fetch("/initial-state", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        players: range(1, model.playerCount + 1),
        settings: JSON.parse(model.settings),
        seed: model.seed ?? getRandomInt(0, INT32_MAX),
      }),
    });
    const json = await response.json();
    const nextState = format(JSON.stringify(json.state), {
      parser: "json",
      plugins: [parserBabel],
    });

    dispatchModelChangeEvent({
      ...model,
      state: nextState,
      stateInput: nextState,
    });
  }

  let seedOption: "custom" | "random" =
    model.seed !== undefined ? "custom" : "random";
</script>

<section class="fields">
  <fieldset>
    <legend><label for="settings-input">Settings</label></legend>
    <textarea id="settings-input" bind:value={model.settingsInput} />
    <button
      id="reset-settings"
      class="secondary small"
      on:click={() => {
        dispatchModelChangeEvent({ ...model, settingsInput: model.settings });
      }}
    >
      Reset
    </button>
    <button
      id="apply-settings"
      class="primary small"
      on:click={() => {
        const formattedSettings = format(model.settingsInput, {
          parser: "json",
          plugins: [parserBabel],
        });
        dispatchModelChangeEvent({
          ...model,
          settings: formattedSettings,
          settingsInput: formattedSettings,
        });
      }}
    >
      Apply
    </button>
  </fieldset>
  <fieldset>
    <legend><label for="seed-input">Seed</label></legend>
    <label class="nowrap">
      <input
        type="radio"
        name="seed"
        value="custom"
        bind:group={seedOption}
        on:click={() => {
          const seed = parseInt(model.seedInput) || -1;
          dispatchModelChangeEvent({ ...model, seed });
        }}
      />

      <input
        id="seed-input"
        type="number"
        min="0"
        max={INT32_MAX}
        disabled={seedOption !== "custom"}
        bind:value={model.seedInput}
        on:change={() => {
          if (seedOption === "custom") {
            const seed = parseInt(model.seedInput) || -1;
            dispatchModelChangeEvent({ ...model, seed });
          }
        }}
      />
    </label>
    <label class="nowrap">
      <input
        type="radio"
        name="seed"
        value="random"
        bind:group={seedOption}
        on:click={() => {
          dispatchModelChangeEvent({ ...model, seed: undefined });
        }}
      />
      Random
    </label>
  </fieldset>

  <fieldset>
    <legend><label for="player-count">Player count</label></legend>
    <input
      type="number"
      id="player-count"
      min={1}
      max={10}
      bind:value={model.playerCount}
    />
    <button id="new-game" class="primary" on:click={() => startNewGame()}>
      New game
    </button>
  </fieldset>

  <fieldset>
    <legend>User</legend>
    <div class="users">
      <label for="user-none" class="nowrap">
        <input
          type="radio"
          id="user-none"
          name="user"
          value={undefined}
          bind:group={model.userId}
          on:click={() =>
            dispatchModelChangeEvent({
              ...model,
              userId: undefined,
            })}
        />
        ∅
      </label>
      {#each range(1, model.playerCount + 1) as id}
        <label for="user-{id}" class="nowrap">
          <input
            type="radio"
            id="user-{id}"
            value={id}
            bind:group={model.userId}
            on:click={() => dispatchModelChangeEvent({ ...model, userId: id })}
          />
          {id}
        </label>
      {/each}
    </div>
  </fieldset>

  <fieldset>
    <legend><label for="state-input">State</label></legend>
    <textarea id="state-input" bind:value={model.stateInput} />
    <button
      id="reset-state"
      class="secondary small"
      on:click={() => {
        dispatchModelChangeEvent({ ...model, stateInput: model.state });
      }}
    >
      Reset
    </button>
    <button
      id="apply-state"
      class="primary small"
      on:click={() => {
        const formattedState = format(model.stateInput, {
          parser: "json",
          plugins: [parserBabel],
        });
        dispatchModelChangeEvent({
          ...model,
          state: formattedState,
          stateInput: formattedState,
        });
      }}
    >
      Apply
    </button>
  </fieldset>
</section>

<style>
  textarea {
    font-size: 0.75em;
    font-family: monospace;
  }
  #settings-input {
    resize: vertical;
    width: 100%;
    min-height: 5rem;
  }

  #state-input {
    resize: vertical;
    width: 100%;
    min-height: 10rem;
  }
  fieldset {
    border-radius: 0.33em;
    border: solid 1px lightgray;
  }
  fieldset:not(:first-child) {
    margin-top: 0.5em;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .nowrap {
    white-space: nowrap;
  }
</style>
