<script>

</script>

<style>
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 8em;
    font-weight: bold;
  }
</style>

<svelte:head>
  <title>404 - Gamesite 6</title>
</svelte:head>

<div class="not-found">
  <h1>404</h1>
  <h2>Page not found</h2>
</div>
