<script>
  import globalCssUrl from "../../static/global.css";
  import Nav from "../components/Nav.svelte";

  export let segment;
</script>

<svelte:head>
  <link rel="stylesheet" href={globalCssUrl} />
</svelte:head>

<div class="nav">
  <Nav {segment} />
</div>

<main>
  <slot />
</main>

<style>
  .nav {
    white-space: nowrap;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  main {
    z-index: 1;
    padding-top: 57px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }
</style>
