<script lang="ts">
  import GameTable from "../components/GameTable.svelte";
  import { getLobbyStore, getUserStore } from "../stores";
  import { GameType, gameTypeName } from "../util/game-utils";

  let loveLetterLobby = getLobbyStore(GameType.LoveLetter);
  let foxInTheForestLobby = getLobbyStore(GameType.FoxInTheForest);
  let noThanksLobby = getLobbyStore(GameType.NoThanks);
  let shobuLobby = getLobbyStore(GameType.Shobu);
  let skullLobby = getLobbyStore(GameType.Skull);
  let theResistanceLobby = getLobbyStore(GameType.TheResistance);
  let tichuLobby = getLobbyStore(GameType.Tichu);
  let hanabiLobby = getLobbyStore(GameType.Hanabi);
  let liarsDiceLobby = getLobbyStore(GameType.LiarsDice);
  let cockroachPokerLobby = getLobbyStore(GameType.CockroachPoker);
  let azulLobby = getLobbyStore(GameType.Azul);
  let cantStopLobby = getLobbyStore(GameType.CantStop);
  let forSaleLobby = getLobbyStore(GameType.ForSale);
  let fantasyRealmsLobby = getLobbyStore(GameType.FantasyRealms);
  let yinshLobby = getLobbyStore(GameType.Yinsh);
  let lostCitiesLobby = getLobbyStore(GameType.LostCities);
  let sechsNimmtLobby = getLobbyStore(GameType.SechsNimmt);
  let sushiGoLobby = getLobbyStore(GameType.SushiGo);

  let user = getUserStore();

  let userGames: any;
  $: userGames = $user && $user.games && Object.values($user.games);
</script>

<svelte:head>
  <title>Gamesite 6</title>
</svelte:head>

<div class="lists">
  <div class="lobbies">
    <div class="panel">
      <h2>{gameTypeName(GameType.LoveLetter)}</h2>
      <a href="games/love-letter/create/">Create new game</a>
      <GameTable games={$loveLetterLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.FoxInTheForest)}</h2>
      <a href="games/fox-in-the-forest/create/">Create new game</a>
      <GameTable games={$foxInTheForestLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.NoThanks)}</h2>
      <a href="games/no-thanks/create/">Create new game</a>
      <GameTable games={$noThanksLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Shobu)}</h2>
      <a href="games/shobu/create/">Create new game</a>
      <GameTable games={$shobuLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Skull)}</h2>
      <a href="games/skull/create/">Create new game</a>
      <GameTable games={$skullLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.TheResistance)}</h2>
      <a href="games/the-resistance/create/">Create new game</a>
      <GameTable games={$theResistanceLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Tichu)}</h2>
      <a href="games/tichu/create/">Create new game</a>
      <GameTable games={$tichuLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Hanabi)}</h2>
      <a href="games/hanabi/create/">Create new game</a>
      <GameTable games={$hanabiLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.LiarsDice)}</h2>
      <a href="games/liars-dice/create/">Create new game</a>
      <GameTable games={$liarsDiceLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.CockroachPoker)}</h2>
      <a href="games/cockroach-poker/create/">Create new game</a>
      <GameTable games={$cockroachPokerLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Azul)}</h2>
      <a href="games/azul/create/">Create new game</a>
      <GameTable games={$azulLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.CantStop)}</h2>
      <a href="games/cant-stop/create/">Create new game</a>
      <GameTable games={$cantStopLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.ForSale)}</h2>
      <a href="games/for-sale/create/">Create new game</a>
      <GameTable games={$forSaleLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.FantasyRealms)}</h2>
      <a href="games/fantasy-realms/create/">Create new game</a>
      <GameTable games={$fantasyRealmsLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.Yinsh)}</h2>
      <a href="games/yinsh/create/">Create new game</a>
      <GameTable games={$yinshLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.LostCities)}</h2>
      <a href="games/lost-cities/create/">Create new game</a>
      <GameTable games={$lostCitiesLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.SechsNimmt)}</h2>
      <a href="games/6-nimmt/create/">Create new game</a>
      <GameTable games={$sechsNimmtLobby.games} />
    </div>

    <div class="panel">
      <h2>{gameTypeName(GameType.SushiGo)}</h2>
      <a href="games/sushi-go/create/">Create new game</a>
      <GameTable games={$sushiGoLobby.games} />
    </div>
  </div>

  {#if userGames}
    <div class="user-games panel shadow">
      <h2><gs6-user userid={$user.id} suffix="'s" /> games</h2>
      <GameTable games={userGames} />
    </div>
  {/if}
</div>

<style>
  .lists {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .lists > * {
    flex-grow: 1;
    width: 45%;
    box-sizing: border-box;
    max-width: 25em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .lobbies > * {
    margin-bottom: 1em;
  }

  .lobbies > .panel > a {
    display: block;
    margin-bottom: 0.5em;
  }

  .user-games {
    margin-bottom: 1em;
  }
</style>
