<script>
  import RegisterCompleteForm from "./_components/RegisterCompleteForm.svelte";
  import { stores } from "@sapper/app";

  let { page } = stores();

  let pending = false;

  async function handleRegister(event) {
    pending = true;

    const { username, password } = event.detail;
    let response = await fetch(
      `${API_TLS ? "https" : "http"}://${API_HOST}/api/verify`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: username,
          password,
          token: $page.query.token,
        }),
        credentials: "include",
      }
    );

    if (response.ok) {
      window.location.href = "/";
    } else {
      pending = false;
    }
  }
</script>

<svelte:head>
  <title>Register - Gamesite 6</title>
</svelte:head>

<div class="form panel shadow">
  <h1>Complete registration</h1>
  <RegisterCompleteForm on:completion={handleRegister} disabled={pending} />
</div>

<style>
  .form {
    max-width: 22em;
    margin: auto;
    padding: 2rem;
  }
</style>
