<svelte:options tag="gs6-avatar" />

<script lang="ts">
  import crownSvgSrc from "./crown.svg";
  import * as users from "./users";

  export let userid;
  export let inline = false;
  export let host: boolean = false;

  let userStore = users.store();

  $: user = $userStore[userid];

  import eyes from "./avatar/eyes";
  import mouths from "./avatar/mouth";
  import noses from "./avatar/nose";

  const colors = [
    "#81bef1",
    "#ad8bf2",
    "#bff288",
    "#de7878",
    "#a5aac5",
    "#6ff2c5",
    "#f0da5e",
    "#eb5972",
    "#f6be5d",
  ];

  $: userId = parseInt(userid);
  $: face = {
    eyes: eyes[userId % eyes.length],
    mouth: mouths[userId % mouths.length],
    nose: noses[userId % noses.length],
    color: colors[userId % colors.length],
  };
</script>

{#if userid !== undefined}
  {#if user}
    <div
      class="avatar"
      class:inline
      title={user.name}
      style="background:
          center / contain no-repeat url({face.nose}),
          center / contain no-repeat url({face.eyes}),
          center / contain no-repeat url({face.mouth}),
          {face.color};"
    >
      {#if host}
        <img src={crownSvgSrc} alt="host" title="Host" />
      {/if}
    </div>
  {:else}
    {#await users.fetch(userid)}
      <div class="avatar" class:inline />
    {:then userData}
      <div
        class="avatar"
        class:inline
        title={userData.name}
        style="background:
            center / contain no-repeat url({face.nose}),
            center / contain no-repeat url({face.eyes}),
            center / contain no-repeat url({face.mouth}),
            {face.color};"
      >
        {#if host}
          <img src={crownSvgSrc} alt="host" title="Host" />
        {/if}
      </div>
    {/await}
  {/if}
{:else}
  <div class="avatar" class:inline />
{/if}

<style>
  .avatar {
    display: block;
    height: 1em;
    width: 1em;
    border-radius: 0.125em;

    position: relative;
  }
  .avatar > img {
    position: absolute;
    width: 33.3%;
    bottom: 100%;
    left: 0;
    transform: translate(-7%, 25%) rotate(-12deg);
    filter: drop-shadow(0 0 1px #0007) drop-shadow(0 0 2px #0007);
  }
  .inline {
    display: inline-block;
    transform: scale(1.3) translateY(0.15em);
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
</style>
