<script lang="ts">
  export let value: 1 | 2 | 3 | 4 | 5 | 6 | 0 = 0;
  $: parsedValue = typeof value === "string" ? parseInt(value) : value;
</script>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .gs6-die-outer {
    perspective: 20em;

    overflow: visible;
    filter: drop-shadow(0.12em 0.12em 0.1em rgb(0 0 0 / 0.6));

    --full: 1.4em;
    --half: calc(var(--full) / 2);
  }
  .gs6-die-inner {
    width: var(--full);
    height: var(--full);
    position: relative;

    transform-style: preserve-3d;

    transition: transform 0.5s ease-in-out;
  }
  .gs6-die-inner-1,
  .gs6-die-inner-0 {
    transform: rotateY(-12deg) rotateX(12deg);
  }
  .gs6-die-inner-2 {
    transform: rotateY(-12deg) rotateX(12deg) rotateY(-90deg);
  }
  .gs6-die-inner-3 {
    transform: rotateY(-12deg) rotateX(12deg) rotateX(-90deg);
  }
  .gs6-die-inner-4 {
    transform: rotateY(-12deg) rotateX(12deg) rotateX(90deg);
  }
  .gs6-die-inner-5 {
    transform: rotateY(-12deg) rotateX(12deg) rotateY(90deg);
  }
  .gs6-die-inner-6 {
    transform: rotateY(-12deg) rotateX(12deg) rotateY(180deg);
  }

  .gs6-die-face,
  .gs6-die-face > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    background-color: hsl(11 75% 49% / 1);
    color: linen;
    font-weight: 500;

    filter: brightness(1);
    transition: filter 0.5s ease-in-out;
  }
  .gs6-die-face > div.darker {
    filter: brightness(0.5);
  }
  .gs6-die-face > div.dark {
    filter: brightness(0.8);
  }

  .gs6-die-face:nth-child(1) {
    transform: translateZ(var(--half));
  }
  .gs6-die-face:nth-child(2) {
    transform: rotateY(90deg) translateZ(var(--half));
  }
  .gs6-die-face:nth-child(3) {
    transform: rotateX(90deg) translateZ(var(--half));
  }
  .gs6-die-face:nth-child(4) {
    transform: rotateX(-90deg) translateZ(var(--half));
  }
  .gs6-die-face:nth-child(5) {
    transform: rotateY(-90deg) translateZ(var(--half));
  }
  .gs6-die-face:nth-child(6) {
    transform: rotateY(180deg) translateZ(var(--half));
  }
  .gs6-die-face:nth-child(6) > div {
    text-decoration: underline;
  }
</style>

<svelte:options tag="gs6-die" />

<div class="gs6-die-outer">
  <div class="gs6-die-inner gs6-die-inner-{value}">
    <div class="gs6-die-face">
      <div class:dark={parsedValue === 5} class:darker={parsedValue === 3}>
        {#if parsedValue !== 0}1{/if}
      </div>
    </div>
    <div class="gs6-die-face">
      <div
        class:dark={parsedValue === 0 || parsedValue === 1 || parsedValue === 4 || parsedValue === 3}>
        {#if parsedValue !== 0}2{/if}
      </div>
    </div>
    <div class="gs6-die-face">
      <div>3</div>
    </div>
    <div class="gs6-die-face">
      <div
        class:darker={parsedValue === 0 || parsedValue === 1 || parsedValue === 2 || parsedValue === 5 || parsedValue === 6}>
        {#if parsedValue !== 0}4{/if}
      </div>
    </div>
    <div class="gs6-die-face">
      <div class:dark={parsedValue === 6}>5</div>
    </div>
    <div class="gs6-die-face">
      <div class:dark={parsedValue === 2} class:darker={parsedValue === 4}>
        6
      </div>
    </div>
  </div>
</div>
