<svelte:options tag="gs6-game-container" />

<script lang="ts">
  type UserId = number;
  type Players = { [playerId: string]: UserId };

  type Props = {
    players: Players;
    loggedInUserId: UserId | undefined;
    hostId: UserId | undefined;
  };

  type Listener = (props: Props) => void;

  export let gameid: number;
  export let hostid: UserId;
  export let players: Players;
  export let loggedinuserid: UserId | undefined;

  export const isGameContainer = true;

  const listeners: Array<Listener> = [];

  export function addListener(f: Listener) {
    listeners.push(f);
  }
  export function removeListener(f: Listener) {
    const i = listeners.indexOf(f);
    if (i !== -1) {
      listeners.splice(i, 1);
    }
  }

  export function dispatchLeaveEvent() {
    if (gameid && loggedinuserid) {
      this.dispatchEvent(
        new CustomEvent("leave", {
          cancelable: true,
          composed: true,
          bubbles: true,
        })
      );
    }
  }

  export function dispatchJoinEvent(playerId: number) {
    if (gameid && loggedinuserid) {
      this.dispatchEvent(
        new CustomEvent("join", {
          detail: {
            playerId,
          },
          cancelable: true,
          composed: true,
          bubbles: true,
        })
      );
    }
  }

  $: {
    for (const f of listeners) {
      f({
        players,
        loggedInUserId: loggedinuserid,
        hostId: hostid,
      });
    }
  }
</script>

<slot />
