<svelte:options tag="gs6-player-box" />

<script lang="ts">
  import { onMount, onDestroy } from "svelte";

  export let userid: string | number;
  export let playerid: string | number;

  export let thinking = false;
  export let active = false;
  export let speaking = false;

  let self;
  let gameContainer;

  let players: { [playerId: string]: number | null };
  let loggedInUserId: number | undefined;
  let hostId: number | undefined;

  function listener(props) {
    players = props.players;
    loggedInUserId = props.loggedInUserId;
    hostId = props.hostId;
  }

  onMount(() => {
    gameContainer = self.getRootNode().host;
    while (gameContainer && !gameContainer.isGameContainer) {
      gameContainer = gameContainer.parentElement ?? gameContainer.host;
    }

    if (gameContainer?.isGameContainer) {
      players = gameContainer.players;
      loggedInUserId = gameContainer.loggedinuserid;
      hostId = gameContainer.hostid;

      gameContainer.addListener(listener);
    }
  });

  onDestroy(() => {
    if (gameContainer?.isGameContainer) {
      gameContainer.removeListener(listener);
    }
  });

  let finalUserId: number | undefined | null;
  $: {
    if (playerid && players) {
      finalUserId = players[playerid];
    } else if (players) {
      finalUserId = players[userid];
    } else {
      finalUserId = typeof userid === "string" ? parseInt(userid) : userid;
    }
  }

  let finalPlayerId: number | undefined;
  $: {
    let pid = playerid || userid;
    finalPlayerId = typeof pid === "string" ? parseInt(pid) : pid;
  }

  let emptySeat: boolean;
  $: if (playerid && players) {
    emptySeat = players[playerid] === null;
  } else if (players) {
    emptySeat = players[userid] === null;
  }

  let menuVisible = false;

  $: userIds = players ? Object.values(players) : [];
  $: canJoin = emptySeat && !userIds.includes(loggedInUserId);
  $: canLeave =
    loggedInUserId &&
    finalUserId === loggedInUserId &&
    userIds.includes(loggedInUserId);
</script>

<div class="wrapper border shadow" bind:this={self}>
  <div class="avatar" class:active={active || thinking}>
    {#if active || thinking}
      <div class="active-pulse" />
    {/if}

    {#if !emptySeat}
      <gs6-avatar
        userid={finalUserId}
        host={hostId && finalUserId === hostId}
      />
    {:else}
      <gs6-empty-avatar />
    {/if}
  </div>
  <div class="username-wrapper">
    <slot name="before-name" />
    {#if emptySeat}
      <span class="username">Player {finalPlayerId}</span>
    {:else}
      <button
        disabled={!gameContainer || !canLeave}
        class="username"
        on:click={() => (menuVisible = true)}
      >
        <gs6-username userid={finalUserId} />
      </button>
    {/if}
    <slot name="after-name" />

    {#if menuVisible && canLeave}
      <div class="player-menu panel">
        <gs6-popover on:dismiss={() => (menuVisible = false)}>
          <gs6-button
            on:click={() => {
              menuVisible = false;
              gameContainer.dispatchLeaveEvent();
            }}
          >
            Leave seat
          </gs6-button>
        </gs6-popover>
      </div>
    {/if}
  </div>

  {#if gameContainer && canJoin}
    <div class="empty-seat-content">
      <gs6-button
        on:click={() => gameContainer.dispatchJoinEvent(finalPlayerId)}
      >
        Take seat
      </gs6-button>
    </div>
  {/if}

  <div class="content">
    <slot />
  </div>

  {#if speaking}
    <div class="speech shadow">
      <slot name="speech" />
    </div>
  {/if}
</div>

<style>
  .panel {
    background-color: white;
    border-radius: 4px;
    padding: 1em;
  }

  .panel,
  .border {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.167);
    border-width: 1px;
    border-radius: 4px;
  }

  .panel,
  .shadow {
    box-shadow: 3px 3px 8px -6px rgba(50, 50, 50, 1);
  }

  .wrapper {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
    background-color: white;
    margin-top: 1em;
  }

  .avatar {
    box-sizing: border-box;
    position: absolute;
    font-size: 4em;
    height: 1em;
    width: 1em;
    top: -0.25em;
  }

  .active-pulse {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12.5%;

    background-color: #1e80db;
    animation: pulse 0.67s ease-out infinite;
  }

  @keyframes pulse {
    from {
      transform: scale(0.95);
      filter: opacity(0.95);
    }
    to {
      transform: scale(1.33);
      filter: opacity(0);
    }
  }

  gs6-avatar {
    position: absolute;
  }

  .username-wrapper {
    margin-left: 4em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    position: relative;
  }

  .username {
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  span.username {
    font-weight: 300;
  }

  button.username {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    color: inherit;
  }

  button:not(:disabled) {
    cursor: pointer;
  }

  .player-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;

    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  .player-menu gs6-button {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .empty-seat-content {
    position: relative;
    margin-top: 0.67em;
    margin-bottom: 0.5em;
    display: grid;
    place-content: center;
  }
  .empty-seat-content > gs6-button {
    height: 2rem;

    white-space: nowrap;
  }
  .content {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .empty-seat-content + .content {
    margin-top: 0;
  }

  .speech {
    position: absolute;
    top: -1.5em;
    left: -2em;
    right: -2em;
    transform: translateY(-100%);
    font-size: 0.9em;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
  }
  .speech:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 7em;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.5em;
    margin-bottom: -1em;
  }
</style>
