<script lang="ts">
  import { store, fetch } from "./users";

  export let userid: number;
  export let suffix = "";

  let userStore = store();

  $: user = $userStore[userid];
</script>

<svelte:options tag="gs6-username" />

{#if userid !== undefined}
  {#if user}
    <span class="wrapper">
      <span class="username">
        {#if user.guest}Guest#{userid}{:else}{user.name}{/if}
      </span>
      {suffix}
    </span>
  {:else}
    {#await fetch(userid)}
      ...
    {:then userData}
      {userData.name}{suffix}
    {:catch err}
      <code>{err}</code>
    {/await}
  {/if}
{/if}

<style>
  .wrapper {
    display: inline-flex;
  }
  .username {
    font-style: normal;
    font-weight: 500;
  }
</style>
