<svelte:options tag="gs6-user" />

<script lang="ts">
  import { onMount, onDestroy } from "svelte";

  export let userid: number;
  export let playerid: number;
  export let suffix = "";

  let self;
  let gameContainer;
  let players: { [playerId: string]: number | null };

  function listener(props) {
    players = props.players;
  }

  onMount(() => {
    gameContainer = self.getRootNode().host;
    while (gameContainer && !gameContainer.isGameContainer) {
      gameContainer = gameContainer.parentElement ?? gameContainer.host;
    }

    if (gameContainer?.isGameContainer) {
      players = gameContainer.players;
      gameContainer.addListener(listener);
    }
  });

  onDestroy(() => {
    if (gameContainer?.isGameContainer) {
      gameContainer.removeListener(listener);
    }
  });

  let finalUserId: number | undefined | null;
  $: {
    if (playerid && players) {
      finalUserId = players[playerid];
    } else if (players) {
      finalUserId = players[userid];
    } else {
      finalUserId = userid;
    }
  }

  let emptySeat: boolean;
  $: if (playerid) {
    emptySeat = players[playerid] === null;
  } else if (players) {
    emptySeat = players[userid] === null;
  }
</script>

<span class="wrapper" bind:this={self}>
  {#if emptySeat}
    <gs6-empty-avatar class="inline" />
    <span class="empty-player-name">Player {playerid || userid}</span>
  {:else}
    <gs6-avatar inline={true} userid={finalUserId} />
    <gs6-username userid={finalUserId} {suffix} />
  {/if}
</span>

<style>
  .wrapper {
    white-space: nowrap;
  }
  .empty-player-name {
    font-weight: 300;
  }
</style>
