<script lang="ts">
  import myLocationImgSrc from "../../../static/my-location.svg";
  import zoomInImgSrc from "../../../static/zoom-in.svg";
  import zoomOutImgSrc from "../../../static/zoom-out.svg";
  import chatboxImgSrc from "../../../static/chatbox.svg";
  import chevronRightImgSrc from "../../../static/chevron-right.svg";
  import infoCircleImgSrc from "../../../static/info-circle.svg";
  import type { GameType } from "../../util/game-utils";
  import GameChat from "./_GameChat.svelte";
  import { fade } from "svelte/transition";

  export let gameType: GameType;
  export let gameId: GameId;

  let offsetX = 0;
  let offsetY = 0;

  const zoomLevels = [
    0.25, 0.33, 0.5, 0.67, 0.75, 0.8, 0.9, 1.0, 1.1, 1.25, 1.5, 1.75, 2.0, 2.5,
    3.0,
  ];
  const maxZoomLevel = zoomLevels.length - 1;

  let selectedZoomLevel = 7;
  $: zoom = zoomLevels[selectedZoomLevel];
  $: zoomPercent = Math.round(zoom * 100);

  function zoomIn() {
    let zoomBefore = zoomLevels[selectedZoomLevel];
    selectedZoomLevel = Math.min(selectedZoomLevel + 1, maxZoomLevel);
    let zoomAfter = zoomLevels[selectedZoomLevel];

    let scaleFactor = zoomAfter / zoomBefore;
    offsetX = offsetX * scaleFactor;
    offsetY = offsetY * scaleFactor;
  }

  function zoomOut() {
    let zoomBefore = zoomLevels[selectedZoomLevel];
    selectedZoomLevel = Math.max(selectedZoomLevel - 1, 0);
    let zoomAfter = zoomLevels[selectedZoomLevel];

    let scaleFactor = zoomAfter / zoomBefore;
    offsetX = offsetX * scaleFactor;
    offsetY = offsetY * scaleFactor;
  }

  let previousDragX = null;
  let previousDragY = null;

  let gameEl = null;

  function isGameElChild(el: Element) {
    while (el) {
      if (el === gameEl) return true;
      else if (el.localName === "html") return false;
      else {
        el = el.parentElement;
      }
    }
  }

  function handleWheel(ev: WheelEvent) {
    if (ev.deltaY > 0) {
      zoomOut();
    } else if (ev.deltaY < 0) {
      zoomIn();
    }
  }

  function handleMouseDown(ev: MouseEvent) {
    const target = ev.target as HTMLElement;
    const isInteractive =
      ["INPUT", "BUTTON", "TEXTAREA", "SELECT"].includes(target.tagName) &&
      !(target as HTMLInputElement).disabled;

    if (ev.button === 1 || (ev.button === 0 && !isInteractive)) {
      ev.preventDefault();
      previousDragX = ev.x;
      previousDragY = ev.y;
    }
  }

  function handleMouseOut(ev: MouseEvent) {
    if (!isGameElChild(ev.relatedTarget as Element)) {
      previousDragX = null;
      previousDragY = null;
    }
  }
  function handleBlur(ev: Event) {
    previousDragX = null;
    previousDragY = null;
  }

  function handleTouchStart(ev: TouchEvent) {
    if (ev.touches.length === 1) {
      previousDragX = ev.touches[0].clientX;
      previousDragY = ev.touches[0].clientY;
    } else {
      // stops dragging on multitouch
      previousDragX = null;
      previousDragY = null;
    }
  }

  function handleTouchMove(ev: TouchEvent) {
    if (
      previousDragX !== null &&
      previousDragY !== null &&
      ev.touches.length === 1
    ) {
      ev.preventDefault();
      let touch = ev.touches[0];

      let deltaX = touch.clientX - previousDragX;
      let deltaY = touch.clientY - previousDragY;
      offsetX += deltaX;
      offsetY += deltaY;
      previousDragX = touch.clientX;
      previousDragY = touch.clientY;
    }
  }

  function handleTouchEnd(ev: TouchEvent) {
    previousDragX = null;
    previousDragY = null;
  }

  let showReference = window.innerWidth > 1024;
  let showChat = window.innerWidth > 1024;
</script>

<div class="wrapper">
  <div
    bind:this={gameEl}
    class="game"
    class:dragging={previousDragX !== null || previousDragY !== null}
    class:showing-chat={showChat}
    on:wheel={handleWheel}
    on:mousedown={handleMouseDown}
    on:mousemove|preventDefault={(ev) => {
      if (previousDragX !== null && previousDragY !== null) {
        let deltaX = ev.x - previousDragX;
        let deltaY = ev.y - previousDragY;
        offsetX += deltaX;
        offsetY += deltaY;
        previousDragX = ev.x;
        previousDragY = ev.y;
      }
    }}
    on:mouseout|preventDefault|stopPropagation={handleMouseOut}
    on:blur={handleBlur}
    on:mouseup={() => {
      previousDragX = null;
      previousDragY = null;
    }}
    on:touchstart={handleTouchStart}
    on:touchmove={handleTouchMove}
    on:touchend={handleTouchEnd}
  >
    <div
      style="
        position: absolute;
        height: 100%;
        top: 50%;
        left: {showChat ? 'calc(50% - 10rem)' : '50%'};
        transition: left 0.5s;
        transform: translate(-50%, -50%) translate({offsetX}px, {offsetY}px) scale({zoom});
      "
    >
      <slot name="game" />
    </div>
    <div class="camera-controls">
      <div class="zoom-controls">
        <button
          title="Zoom in"
          class="secondary shadow"
          disabled={selectedZoomLevel === maxZoomLevel}
          on:mousedown|stopPropagation
          on:click|preventDefault={zoomIn}
        >
          <img
            class="button-text"
            src={zoomInImgSrc}
            role="presentation"
            alt=""
          />
        </button>
        <small class="zoom-percent">{zoomPercent} %</small>
        <button
          title="Zoom out"
          class="secondary shadow"
          disabled={selectedZoomLevel === 0}
          on:mousedown|stopPropagation
          on:click|preventDefault={zoomOut}
        >
          <img
            class="button-text"
            src={zoomOutImgSrc}
            role="presentation"
            alt=""
          />
        </button>
      </div>

      <button
        title="Re-center"
        class="recenter-button secondary shadow"
        disabled={offsetX === 0 && offsetY === 0}
        on:mousedown|stopPropagation
        on:click|preventDefault={() => {
          offsetX = 0;
          offsetY = 0;
        }}
      >
        <img
          class="button-text"
          src={myLocationImgSrc}
          role="presentation"
          alt=""
        />
      </button>
    </div>
  </div>

  {#if $$slots.reference}
    <div class="reference-wrapper" class:hide-right={!showReference}>
      <div class="reference">
        <button
          class="panel show-hide"
          class:show={!showReference}
          class:hide={showReference}
          on:click={() => (showReference = !showReference)}
        >
          {#if showReference}
            <img src={chevronRightImgSrc} alt="Hide rules reference" />
          {:else}
            <img src={infoCircleImgSrc} alt="Show rules reference" />
          {/if}
        </button>
        <div class="reference-inner">
          <slot name="reference" />
        </div>
      </div>
    </div>
  {/if}
  <div class="chat-wrapper" class:hide-right={!showChat}>
    <div class="chat">
      <button
        class="panel show-hide"
        class:show={!showChat}
        class:hide={showChat}
        on:click={() => (showChat = !showChat)}
      >
        {#if showChat}
          <img src={chevronRightImgSrc} alt="Hide chat" />
        {:else}
          <img src={chatboxImgSrc} alt="Show chat" />
        {/if}
      </button>

      <GameChat {gameType} {gameId} disabled={!showChat} />
    </div>
  </div>
</div>

<style>
  .wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem;
  }

  .game {
    height: 100%;
    padding: 0.5rem;
    overflow: visible;
    position: relative;

    cursor: grab;
  }

  .game.dragging {
    cursor: grabbing;
  }
  .camera-controls {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;

    width: 2.5rem;
    transition: width 0.5s;
  }
  .showing-chat .camera-controls {
    width: 22.5rem;
    max-width: calc(100% + 0.5rem);
  }
  .zoom-controls {
    flex-direction: column;
    align-items: center;
  }
  .zoom-percent {
    display: block;
    text-align: center;
  }
  .recenter-button {
    margin-top: 0.3rem;
  }
  .camera-controls button {
    font-size: 2em;
    display: grid;
    place-content: center;
    padding: 0;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
  }
  .camera-controls button > img {
    height: 1.25rem;
    width: 1.25rem;
  }

  .camera-controls button:disabled > img {
    filter: brightness(100);
  }

  .reference-wrapper {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: calc(50% + 0.25rem);
    width: 20rem;
    max-width: calc(100% - 2rem);
    transition: transform 0.5s;
  }
  .reference-wrapper.hide-right {
    transform: translateX(100%);
  }

  .reference {
    position: relative;
    height: 100%;
  }
  .reference-inner {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  button.show-hide {
    font-weight: bolder;

    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    transform: translateX(-100%) translateX(0.5rem);
    padding: 0;
    padding-right: 0.25rem;

    display: grid;
    place-content: center;
  }
  button.hide {
    width: 2rem;
  }
  button.show-hide > img {
    width: 1.5em;
  }
  .chat-wrapper {
    position: absolute;
    top: calc(50% + 0.25rem);
    bottom: 0.5rem;
    right: 0.5rem;
    width: 20rem;
    max-width: calc(100% - 2rem);
    transition: transform 0.5s;
  }
  .chat-wrapper.hide-right {
    transform: translateX(100%);
  }
  .chat {
    position: relative;
    height: 100%;
  }
</style>
