<script lang="ts">
  import NotStarted from "./_not-started.svelte";
  import { stores } from "@sapper/app";
  import {
    getGameStore,
    getUserStore,
    joinGame,
    leaveGame,
  } from "../../stores";
  import { writable } from "svelte/store";
  import { gameTypeName, gameTypeStringToNumber } from "../../util/game-utils";

  export let segment: string;
  $: gameType = gameTypeStringToNumber(segment);

  let { page } = stores();

  $: gameId = parseInt($page.query.id as string);
  $: isCreateGamePage = $page.path.includes("/create/");

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);
  $: userStore = getUserStore();
  $: game = $gameStore && $gameStore.data;
  $: loggedInUserId = $userStore ? $userStore.id : undefined;

  let title: string;
  $: if (isCreateGamePage) {
    title = `Create game - ${gameTypeName(gameType)} - Gamesite 6`;
  } else if (Number.isNaN(gameId)) {
    title = `${gameTypeName(gameType)} - Gamesite 6`;
  } else {
    title = `${gameTypeName(gameType)} #${gameId} - Gamesite 6`;
  }
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

{#if gameId && !game}
  <!-- TODO show loading spinner? -->
{:else if isCreateGamePage}
  <div class="create-game">
    <slot />
  </div>
{:else if game && game.status === "NOT_STARTED"}
  <NotStarted {gameId} {gameType} />
{:else if game}
  <!-- Game in progress -->
  <gs6-game-container
    players={game.players}
    loggedinuserid={loggedInUserId}
    hostid={game.host}
    gameid={game.id}
    on:leave={() => leaveGame(game.id, gameType)}
    on:join={(e) => joinGame(game.id, e.detail.playerId, gameType)}
  >
    <slot />
  </gs6-game-container>
{/if}

<style>
  .create-game {
    max-width: 40rem;
    margin: auto;
    padding: 2rem;
  }
</style>
