<script lang="ts">
  import GameLayout from "./_game_layout.svelte";
  import {
    getGameStore,
    getUserStore,
    joinGame,
    leaveGame,
    startGame,
  } from "../../stores";
  import { orderPlayerIds } from "../../util/order-players";

  export let gameId;
  export let gameType;

  let gameStore = getGameStore(gameId, gameType);
  $: game = $gameStore && $gameStore.data;

  $: user = getUserStore();
  let userPlayerId: PlayerId | undefined;
  $: {
    let userPlayerIdStr =
      $user &&
      Object.entries<UserId>(game.players).find(
        ([_pid, uid]) => uid === $user.id
      )?.[0];

    userPlayerId = userPlayerIdStr && parseInt(userPlayerIdStr);
  }

  $user && game && Object.entries(game.players);

  $: settings = $gameStore && $gameStore.settings;

  $: showStart = $user && game && game.host === $user.id;
  $: canStart =
    showStart &&
    Object.values(game.players).filter((x) => x !== null).length > 1;

  let playerIds: PlayerId[];
  $: {
    if (game) {
      let pids = Object.keys(game.players).map((pid) => parseInt(pid));
      pids.sort((a, b) => a - b);

      playerIds = orderPlayerIds(pids, userPlayerId);
    } else {
      playerIds = [];
    }
  }

  function getPlayerStyle(playerCount: number, idx: number): string {
    let initialAngle = Math.PI / 2;
    let angleStep = (2 * Math.PI) / playerCount;

    let angle = initialAngle + idx * angleStep;

    let translateX = Math.cos(angle) * (22 + playerCount / 2);
    let translateY = Math.sin(angle) * (18 + playerCount / 2);

    return `
      --translate-x: ${translateX.toFixed(2)}rem;
      --translate-y: ${translateY.toFixed(2)}rem;
    `;
  }
</script>

<GameLayout {gameId} {gameType}>
  <div class="not-started" slot="game">
    {#if game && settings}
      <gs6-game-container
        players={game.players}
        loggedinuserid={$user && $user.id}
        hostid={game.host}
        gameid={game.id}
        on:leave={() => leaveGame(game.id, game.game_type)}
        on:join={(e) => joinGame(game.id, e.detail.playerId, game.game_type)}
      >
        <ul class="players">
          {#each playerIds as pid, idx (`game${game.id}-player${pid}`)}
            <li style={getPlayerStyle(playerIds.length, idx)}>
              <gs6-player-box playerid={pid} />
            </li>
          {/each}
        </ul>
      </gs6-game-container>
    {/if}

    {#if showStart}
      <button
        class="primary"
        on:click={() => startGame(gameId, game.game_type)}
        disabled={!canStart}
      >
        Start game
      </button>
    {/if}
  </div>
</GameLayout>

<style>
  .not-started {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    white-space: nowrap;
  }

  ul.players > li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
      translate(var(--translate-x), var(--translate-y));
  }
</style>
