<script>
  import StartedGame from "../_game_layout.svelte";
  import { stores } from "@sapper/app";
  import { getGameStore, getUserStore, performAction } from "../../../stores";
  import { writable } from "svelte/store";
  import { GameType, getPlayerIdFromUserId } from "../../../util/game-utils";

  const gameType = GameType.CockroachPoker;

  let { page } = stores();
  $: gameId = parseInt($page.query.id);

  let user = getUserStore();

  let gameStore = writable(null);
  $: gameStore = getGameStore(gameId, gameType);

  $: game = $gameStore && $gameStore.data;
  $: settings = $gameStore && $gameStore.settings;
  $: state = $gameStore && $gameStore.state;

  let componentPromise = process.browser
    ? import("@side6/cockroach-poker").then((components) => {
        const { Game, Reference } = components;
        try {
          window.customElements.define("gs6-games-cockroach-poker", Game);
          window.customElements.define(
            "gs6-games-cockroach-poker-reference",
            Reference
          );
        } catch (err) {
          // already defined
        }
      })
    : Promise.resolve();
</script>

{#await componentPromise}
  <p>Loading game assets</p>
{:then}
  {#if game && settings && state}
    <StartedGame {gameType} {gameId}>
      <gs6-games-cockroach-poker
        slot="game"
        user-id={$user && getPlayerIdFromUserId(game.players, $user.id)}
        {settings}
        {state}
        on:action={(event) => {
          let action = event.detail;
          performAction(gameId, gameType, action);
        }}
      />

      <gs6-games-cockroach-poker-reference slot="reference" {settings} />
    </StartedGame>
  {/if}
{:catch}
  <p>Loading failed</p>
{/await}
